<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <button
  pButton
  type="button"
  label=" Ver valor variable"
  class="p-button-help"
  icon="pi pi-check"
  iconPos="right"
  (click)="mostrarNombre()"
></button>
<div class="text-layout">
  <p-card>
    <p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
      impedit sapiente, unde est quo quibusdam quam deleniti earum nihil fugit
      error, omnis reprehenderit eligendi neque a cupiditate ab, iste eaque.
    </p-card>
  </p-card>
</div> -->

